<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^machine1\.firsttitleservices\.com$" />
                        <add input="{REMOTE_ADDR}" pattern="^173\.213\.227\.19[2-9]$" negate="true" />
                        <add input="{REMOTE_ADDR}" pattern="^10\.11\.2\.25[2-3]$" negate="true" />
                        <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^https$" negate="true" />
                        <add input="{HTTPS}" pattern="^on$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
